<a href="https://colab.research.google.com/github/sazzad110/Mock-Test-1/blob/main/pandas4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

data = {
    'Name': ['sazzad', 'sumon', 'rakib', 'mizan', 'sunny', 'jayed', 'robi'],
    'Age': [30, 25, 35, 40, 30, 32, 25],
    'Occupation': ['Engineer', 'Data Scientist', 'Teacher', 'Doctor', 'Engineer', 'Engineer', 'Data Scientist'],
}

df = pd.DataFrame(data)     # make it dataframe

grouped_df = df.groupby('Occupation').agg({'Age':'mean'})   # Grouped data by occupation and calc mean age of each occupation people
print(grouped_df)

                      Age
Occupation
Data Scientist  25.000000
Doctor          40.000000
Engineer        30.666667
Teacher         35.000000