<a href="https://colab.research.google.com/github/sazzad110/Mock-Test-1/blob/main/pandas6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

data = {
    'Name': ['sazzad', 'rakib', 'sumon', 'karim'],
    'Age': [25, None, 35, 40],
    'City': ['New York', None, None, 'Houston']
}

# None are missing values in my dataframe.
df = pd.DataFrame(data)
missing_val_cnt = df.isnull().sum()     # How many none value in each column
# print(missing_val_cnt)

# Remove rows with missing (none) values
df_remove_rows = df.dropna()
print(df_remove_rows)
print("-----------------------")

# Remove columns with missing (none) values
df_remove_rows = df.dropna(axis=1)
print(df_remove_rows)

print("-----------------------")

# Fill missing values with a specific value
df_filled = df.fillna('any value')
print(df_filled)

print("-----------------------")

# Fill missing values with the mean of the column
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

print("-----------------------")
# Replace NaN with a specific value
df_replaced = df.replace({None: 'any value'})
print(df_replaced)

     Name   Age      City
0  sazzad  25.0  New York
3   karim  40.0   Houston
-----------------------
     Name
0  sazzad
1   rakib
2   sumon
3   karim
-----------------------
     Name        Age       City
0  sazzad       25.0   New York
1   rakib  any value  any value
2   sumon       35.0  any value
3   karim       40.0    Houston
-----------------------
     Name        Age      City
0  sazzad  25.000000  New York
1   rakib  33.333333      None
2   sumon  35.000000      None
3   karim  40.000000   Houston
-----------------------
     Name        Age       City
0  sazzad  25.000000   New York
1   rakib  33.333333  any value
2   sumon  35.000000  any value
3   karim  40.000000    Houston