<a href="https://colab.research.google.com/github/sazzad110/Mock-Test-1/blob/main/pandas5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['sazzad', 'rakib', 'jayed', 'hasan'],
    'Age': [25, 30, 35, 40]
}

df1 = pd.DataFrame(data1)

data2 = {
    'ID': [3, 4, 5, 6],
    'Occupation': ['Teacher', 'Engineer', 'Doctor', 'Lawyer'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1, df2, on='ID')   # by default how = 'inner join'
print(merged_df)

   ID   Name  Age Occupation         City
0   3  jayed   35    Teacher     New York
1   4  hasan   40   Engineer  Los Angeles